<!------------------------------------------- Banner sliding ------------------------------------------------>    
{% load static %}
<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
            <div class="container">
                <a href="#"><img  src="{% static "resource/images/1.png" %}" alt="special offers"/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>
            <div class="item">
            <div class="container">
                <a href="#"><img  src="{% static "resource/images/2.png" %}" alt=""/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>
            <div class="item">
            <div class="container">
                <a href=""><img  src="{% static "resource/images/3.png" %}" alt=""/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>
            <div class="item">
            <div class="container">
                <a href=""><img  src="{% static "resource/images/4.png" %}" alt=""/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>
            <div class="item">
            <div class="container">
                <a href=""><img  src="{% static "resource/images/5.png" %}" alt=""/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>
            <div class="item">
            <div class="container">
                <a href=""><img src="{% static "resource/images/6.png" %}" alt=""/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>
            <div class="item">
            <div class="container">
                <a href=""><img  src="{% static "resource/images/7.png" %}" alt=""/></a>
                <!--<div class="">
                    <h4>Second Thumbnail label</h4>
                    <p>Second Thumbnail label</p>
                </div>-->
            </div>
            </div>  
        </div> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div> 
</div>
<!----------------------------------------------- Banner Ending--------------------------------------------------------->        